a {
  text-decoration: none;
}

.cta {
  display: block;
  text-align: center;
  padding: 0.9rem 1.2rem;
  margin: 0 auto;
  margin-top: 1rem;
  width: 180px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 6px;
}

.cta-dark {
  color: var(--dark-button-text);
  background-color: var(--dark-button);
  border: 2px solid var(--light-button-text);
}

.cta-light {
  color: var(--light-button-text);
  background-color: var(--light-button);
  width: 250px;
  margin-top: 2rem;
}

/*Hover and focus styles*/

.cta-light:hover,
.cta-light:focus {
  color: var(--dark-button-text);
  background-color: var(--dark-button);
}

.cta-dark:hover,
.cta-dark:focus {
  color: var(--light-button-text);
  background-color: var(--light-button);
}
