@import "/styles/imports/links.css";
@import "/styles/imports/variables.css";

/*GENERAL*/

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  color: var(--paragraph-color);
  font-family: "Source Sans Pro", Verdana, Helvetica, sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.body-container {
  max-width: 1400px;
  margin: 0 auto;
}

/*Typography*/

h1,
h2,
h3,
h4,
.logo {
  font-family: "Playfair Display", Georgia, Cambria, Cochin, serif;
}

p,
li {
  font-size: 20px;
  line-height: 1.5rem;
}

/*HOMEPAGE*/

/*Classes typography*/

.contrast-words {
  display: inline-block;
  color: var(--headings-main-color);
  background: var(--font-background-color);
  padding: 0.3rem;
}

.heading-contrast-sections {
  color: var(--headings-contrast-color);
  font-weight: 900;
  font-size: 2.5rem;
}

.projects-section h2 {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.project-card-p {
  max-width: 310px;
}

.skills p {
  max-width: 600px;
}

.project-card-heading {
  margin: 0.6rem 0rem 1rem;
}

.welcome-text p,
.heading-contrast-sections {
  padding-right: 1rem;
}

/*Containers and sections*/

.welcome-header,
.skills-section {
  background: var(--background-contrast-color);
}

.welcome-header,
.skills-section {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.welcome-text {
  max-width: 250px;
  padding-bottom: 1.2rem;
}

.projects-section {
  padding: 0.8rem;
}

.project-card {
  background-color: #f9fafb;
  max-width: 360px;
  margin-bottom: 2.5rem;
  padding: 0.6rem 0.6rem 2rem 0.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
}

.projects-section,
.skills-section {
  margin-top: 1.6rem;
}

.project-description {
  border-top: 3px solid var(--background-contrast-color);
  margin-top: 2rem;
}

.skills-section {
  padding: 2rem 0.8rem;
}

.skills {
  border-bottom: 2px solid var(--headings-contrast-color);
}

/*Images and image links hover styles*/
.profile-img {
  align-self: flex-end;
}

.project-img:hover,
.project-img:focus {
  filter: brightness(0.6);
}
