@import "/styles/imports/links.css";
@import "/styles/imports/variables.css";

/*GENERAL*/

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  color: var(--paragraph-color);
  font-family: "Source Sans Pro", Verdana, Helvetica, sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.body-container {
  max-width: 1400px;
  margin: 0 auto;
}

/*Typography*/

h1,
h2,
h3,
h4,
.logo {
  font-family: "Playfair Display", Georgia, Cambria, Cochin, serif;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/*HOMEPAGE*/

/*Classes typography*/

.contrast-words {
  display: inline-block;
  color: var(--headings-main-color);
  background: var(--font-background-color);
  padding: 0.3rem;
}

.h1-contrast-sections {
  color: var(--headings-contrast-color);
  font-weight: 900;
}

.h2-banner {
  display: inline-block;
  background: var(--background-contrast-color);
  color: var(--headings-contrast-color);
  width: 60%;
  padding: 10px 20px;
  margin-left: -0.8rem;
  border-radius: 0px 20px 20px 0px;
}

.logo {
  font-size: 25px;
  color: var(--background-contrast-color);
  padding: 0.6rem;
}

.project-card-p {
  max-width: 310px;
}

/*Containers and sections*/

.welcome-header,
.skills-section {
  background: var(--background-contrast-color);
}

.welcome-header,
.skills-section {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.welcome-text {
  max-width: 250px;
}

.projects-section {
  padding: 0.8rem;
}

.project-card {
  background-color: #f9fafb;
  max-width: 360px;
  margin-bottom: 2.5rem;
  padding: 1rem 0.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
}

.projects-section,
.skills-section {
  margin-top: 1.6rem;
}

/*Images*/
.profile-img {
  align-self: flex-end;
}
