@media only screen and (min-width: 481px) {
  /*containers and cards*/
  .project-cards-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .welcome-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .welcome-text {
    max-width: 500px;
  }

  /*Typography*/
}

@media only screen and (min-width: 769px) {
  /*Containers and cards*/

  .skills-section {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .skills-description {
    display: flex;
    gap: 1.5rem;
  }

  .skills {
    border-right: 2px solid var(--font-background-color);
    border-bottom: none;
    padding: 0rem 0.7rem 0rem 0.5rem;
  }

  /*Typography*/

  .heading-contrast-sections {
    font-size: 3.1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .skills-help h2 {
    padding-left: 0.5rem;
  }

  .skills-help h2 {
    padding-left: 0.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .project-cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Typography*/
}
